$o-card-margintop : 30px !default;
$o-card-border : 1px solid black !default;
$o-card-background : white !default;
$o-card--small : 100px !default;
$o-card--medium: 230px !default;
$o-card--large : 490px !default;
